 

* * * * * root echo "every minute"
*/2 * * * * root echo "every two minutes"
*/5 * * * * root echo "every five minutes"
*/3 * * * * root echo "every three minutes"

#override:task.duplicate.allowed.count = 1
*/2 * * * * root echo "every two minutes and pause" & sleep 360

#override:task.duplicate.allowed.count = 2,sla.minutes.since.success = 1
*/2 * * * * root echo "every two minutes and fail" & exit 120

