# crontab-style comments are bypassed
#
# * Omicron will interpret lines starting with "#override:"
#   as task-specific config parameter overrides
#
#   NOTE: An override will be ignored if the next non-blank line is commented out

# variable substitution works as expected
HELLO="hello world"

* * * * * root echo "say $HELLO every minute"
*/2 * * * * root echo "every two minutes"
*/5 * * * * root echo "every five minutes"
*/3 * * * * root echo "every three minutes"

#override:task.duplicate.allowed.count = 1
*/2 * * * * root echo "every two minutes and pause" & sleep 360

#override:task.duplicate.allowed.count = 2,sla.minutes.since.success = 1
*/2 * * * * root echo "every two minutes and fail" & exit 120

#override:sla.commented.expression.alert.delay.minutes = 1
#*/3 * * * * root echo "every three minutes but commented"

#override:sla.malformed.expression.alert.delay.minutes = 1
*/3 * * * root echo "every three minutes - malformed"

